{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <title>Details As</title>
    <link rel="stylesheet" href="{%static 'css/reservation.css'%}">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                 <img class="logo" src="{% static 'img/logo.svg'%}" alt="">
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{% url 'actualite2'%}">ACTUALITÉ</a></li>
                    <li><a href="{% url 'admin1'%}">RÉSERVATIONS</a></li>
                    <li><a href="{% url 'about'%}">ÀPROPOS</a></li>
                    <li><a href="{% url 'contact'%}">CONTACT</a></li>
                </ul>
            </div>

            <div class="search">
                <a href="{% url 'index'%}"> <button class="btn">DÉCONNEXION</button></a>
            </div>

        </div> 
<br>
<div class="main_bg">
    <div class="form">
        <div class="form-text">
            <h1>Details</h1>
            
        </div>
        <div class="main-form">
            <form method="get">

                {% for s in res%}
                <div>
                    <span>Nom et Prénom: {{s.Nom_Prenom}}</span>
                   
                </div>
                <div>
                    <span>Email: {{s.Email}}</span>
                    
                </div>
                <div>
                    <span>Type d'activité: {{s.activite}}</span>
                    
                </div> 
                <div>
                    <span>Date: {{s.date}}</span>
                   
                </div>
                <div>
                    <span>Heure: {{s.date}}</span>
                   
                </div>
               
                <div>
                    <span>Numero de Telephone: {{s.Tel}}</span>
                  
                </div>
                <div id="submit">
                    <select id="submit" required>
                        <option value="1">En cours de traitement</option>
                        <option value="2">Accepté</option>
                        <option value="3">Refusé</option>
                    </select>
                </div>
                {% endfor %}

            </form>
        </div>
    </div>
</div><br><br>
    <footer>
        <div class="footer_cont">
            <h3>footer</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet</p>
            <ul class="socials">
                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
            </ul>
            <p>OCP SOCIAL CLUB 2022</p>
        </div>
     </footer>
</body>
</html>