@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700&display=swap');
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
/*ddeb navbar*/
.main{
    width: 100%;
    background-color: #fff;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.navbar{
    width: 1200px;
    height: 75px;
    margin: auto;
    position: sticky;
    top: 0;
    z-index: 100;
    background: #fff;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
/*color: #ff7200;*/
.logo{
    color: #1e7434;
    font-size: 35px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top: 10px;
    margin-top: 5px
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}

ul li{
    list-style: none;
    margin-left: 62px;
    margin-top: 27px;
    font-size: 14px;
}

ul li a{
    text-decoration: none;
    color: rgb(59, 56, 56);
    font-family: Arial;
    font-weight: bold;
    transition: 0.4s ease-in-out;
}

ul li a:hover{
    color: #1e7434;
}

.search{
    width: 330px;
    float: left;
    margin-left: 270px;
}


.btn{
    width: auto;
    height: 40px;
    background: #1e7434;
    border: 2px solid #1e7434;
    margin-top: 13px;
    color: #fff;
    font-size: 15px;
    border-radius: 5px;
    transition: 0.2s ease;
    cursor: pointer;
}
.btn:hover{
    color: #000;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}


/*fin navbar*/

/*footer*/
footer{
    position: relative;
    background: rgb(29, 29, 29);
    height: auto;
    width: 100%;
    font-family: "Open sans";
    padding-top: 40px;
    color: #fff;
    box-sizing: border-box;
}
.footer_cont{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.footer_cont h3{
    font-size: 1.8rem;
    font-weight: 400;
    text-transform: capitalize;
    line-height: 3rem;
}
.footer_cont p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14px;
}
.socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rel 0 3rem 0;
}
.socials li{
    margin: 0 10px;
}
.socials a{
    text-decoration: none;
    color: #fff;
}
.socials a i{
    font-size: 1.1rem;
    transition: color .4s ease;
}
.socials a:hover i{
    color: #1e7434;
}
/*fin footer*/

/*start*/
body{
    font-family: 'Playfair Display', serif;
    display: grid;
    background-color: #fff;
    align-content: center;
    min-height: 100vh;
    margin-top: 0.5cm;
}
.all{
    background: #fff;

}
section{
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    min-height: auto;
    width: 50vw;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 12px;
}



.all{
    background-color:#fff;
    background: #fff;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 12px  12px 12px 12px;
    color: rgb(59, 56, 56);
}
.all h2{
    text-transform: uppercase;
    font-size: 36px;
    letter-spacing: 6px;
    opacity: 0.9;
    color: #1e7434;
}
.all span{
    height: 0.5px;
    width: 80px;
    background: #1e7434;
    margin: 30px 0;
}
.all p{
    padding-bottom: 15px;
    font-weight: 300;
    opacity: 0.7;
    width: 60%;
    text-align: center;
    margin: 0 auto;
    line-height: 1.7;
    color:rgb(59, 56, 56)
}

/********************/
@media(max-width: 900px){
    section{
        grid-template-columns: 1fr;
        width: 100%;
        border-radius: none;
    }
    
    .content{
        height: 100vh;
        border-radius: none;
    }
    .content h2{
        font-size: 20px;
        margin-top: 50px;
    }
    .content span{
        margin: 20px 0;
    }
    .content p{
        font-size: 14px;
    }
    .links li a{
        font-size: 14px;
    }
    .links{
        margin: 5px 0;
    }
    .links li{
        padding: 6px 10px;
    }
    .icons li i{
        font-size: 15px;
    }
}

/*votes*/
.voting{
    position: relative;
    display: flex;
}

.inp{
    width: 50px;
    border: none;
    background: none;
    color: rgb(59, 56, 56);
    font-size: 20px;
    margin: 0 10px;
    pointer-events: none;
}
.bt{
    color: #fff;
    background: #1e7434;
    height: 1%;
    border: 3px solid #303030;
    border-radius: 4px;
    border: none;
    font-size: 20px;
    padding: 0 15px;
    margin: 10px 0;
    margin-left: 20px;
    cursor: pointer;
}
.bt:active{
    color: #1e7434;
    transform: scale(1.2);
}

.res{
   
    box-shadow: none;
}

.res i{
    width: auto;
    height: auto;
    line-height: 40px;
    text-align: center;
    font-size: 16px;
}
.res i{
    text-decoration: none;
    color: rgb(59, 56, 56);
}

.res i:hover {
    color: #1e7434;
}


.btt{
    width: 15%;
    height: auto;
    border-radius: 20px;
    transition: 0.2s ease;
    cursor: pointer;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.btt i{
    margin-left: 40%;
}