{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Réservations</title>
    <link rel="stylesheet" href="{% static 'css/res.css'%}">
 
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="main">
        <div class="navbar">
            <div class="icon">
                 <img class="logo" src="{% static 'img/logo.svg'%}" alt="">
            </div>

            <div class="menu">
                <ul>
                    <li><a href="{% url 'actualite'%}">ACTUALITÉ</a></li>
                    <li><a href="{% url 'reservation'%}">RÉSERVATIONS</a></li>
                    <li><a href="{% url 'about'%}">ÀPROPOS</a></li>
                    <li><a href="{% url 'contact'%}">CONTACT</a></li>
                </ul>
            </div>

            {% if user.is_authenticated %}
            <div class="search">
                
                <a href="{% url 'logout_user' %}"> <button class="btn"> &nbsp;Deconnexion&nbsp; </button></a>
            </div>
            {% endif %}
            

        </div> <br><br>
        <section class="res">
            <ul>
                <li class="bt"><a>&nbsp;&nbsp;Faire&nbsp;une&nbsp;reservation&nbsp;&nbsp;</a>
                    <ul>
                        <li><a href="{% url 'reservation2'%}">Activité&nbsp;Sportif</a></li>
                        <li><a href="{% url 'reservation1'%}">Réstauration&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
                    </ul>
                </li>
            </ul>  
            <h1>RÉSERVATIONS</h1>
        </section><br><br>
        {% for r in res%}
        <section class="all">
            <br>
            <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a><br>
                <p>Date: {{r.date}}</p>
                <p>Type de Réservation: {{r.typeres}}</p>
                <p>Heure: {{r.heure}}</p>
                <p>Status: {{r.status}}</p>  
        </section><br><br>
        {% endfor %}
    
        {% for rr in res2%}
        <section class="all"><br>
            <a href="#"><i class="fa fa-trash-o" aria-hidden="true"></i></a><br>
                <p>Date: {{rr.date}}</p>
                <p>Type de réservation: {{rr.typeres}}</p>
                <p>Heure: {{rr.heure}}</p>
                <p>Status: {{rr.status}}</p>  
        </section><br><br>
        {% endfor %}

        <footer>
            <div class="footer_cont">
                <h3>footer</h3>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt neque expedita atque eveniet</p>
                <ul class="socials">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-youtube"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin-square"></i></a></li>
                </ul>
                <p>OCP SOCIAL CLUB 2022</p>
            </div>
         </footer>
</body>
</html>